In [1]:
import sqlmagic

In [8]:
#Create empty table for Dispensaries data
%sql create table Dispensaries(Licensee varchar(255), DBA varchar(255), License_No varchar(255), Street_Address varchar(255), City varchar(50), Zip varchar(5))

(psycopg2.ProgrammingError) relation "dispensaries" already exists
 [SQL: 'create table Dispensaries(Licensee varchar(255), DBA varchar(255), License_No varchar(255), Street_Address varchar(255), City varchar(50), Zip varchar(5))']

In [9]:
# Import Panda to read CSV files
import pandas as pd

In [10]:
#View column names for Dispensary data table
%sql select * from Dispensaries

0 rows affected.

[]

In [11]:
# Import csv in order to work with our files
import csv

In [12]:
# Upload Licensed Retailer stores data file into the empty Dispensaries table
storesfile = pd.read_csv('stores.csv')
storesfile.to_sql('Dispensaries', conn, if_exists='append', index=False)
print (storesfile)

IOError: File stores.csv does not exist

In [161]:
# Rename
retailers = storesfile

In [164]:
#Create an empty table for liquor license data
%sql create table liquorlicenses(key int(1845)bfn varchar(50), bus_prof_name varchar(255), full_address varchar(255), licenses varchar(100), lic_status varchar(50), address_id varchar(255), address varchar(100), city varchar(20), state varchar(2), council_dist int(50), police_dist int(10), census_tract int(255), x_coord int(255), y_coord int(255))

Done.

[]

In [203]:
# Upload Liquor License data file into the empty liqourlicenses table
liquorfile = pd.read_csv('liquor_licenses.csv')
liquorfile.to_sql('liquorlicenses', conn, if_exists='append', index=False)
liq_licenses = liquorfile
print (liq_licenses)

                   BFN                               BUS_PROF_NAME  \
0     2015-BFN-0001481                  SALATI ITALIAN STREET FOOD
1       2002-BFN-96418                          QDOBA MEXICAN EATS
2       2002-BFN-71982                        SALTGRASS STEAKHOUSE
3     2010-BFN-1046889          OLD SANTA FE MEXICAN GRILL AND BAR
4     2003-BFN-1006129          THE CAPITAL GRILLE OF DENVER #8018
5     2014-BFN-1074764                            GQ BARBER LOUNGE
6     2014-BFN-1072164                                FORK & SPOON
7        2002-BFN-7325                                   MARLOWE'S
8     2004-BFN-1009954                             WILLIAMS TAVERN
9     2011-BFN-1052735                             TACOS BORRACHOS
10      2002-BFN-57473                               STARBUCKS 270
11    2015-BFN-0006320                               SPARK GALLERY
12    2007-BFN-1027328    BUBBA GUMP SHRIMP CO RESTAURANT & MARKET
13    2012-BFN-1062933                  YU HONG CHINESE RESTAURANT
14    2012-BFN-1063681                                THE WHITTIER
15    2015-BFN-0002739                             RT CAFE AND BAR
16    2009-BFN-1043840                        BROTHERS BAR & GRILL
17    2006-BFN-1020932                             VITA RESTAURANT
18    2008-BFN-1031230                      MR. B'S WINE & SPIRITS
19      2002-BFN-77487                                    SWANKY'S
20    2005-BFN-1013106                             DIAMOND CABARET
21    2008-BFN-1037945                               LOHI STEAKBAR
22    2014-BFN-1072200               MERCANTILE DINING & PROVISION
23    2011-BFN-1053279                                   CAFE PURE
24       2001-BFN-4873                           KING SOOOPERS #29
25    2004-BFN-1007616                                  PARK HOUSE
26    2009-BFN-1039598                  VINCENT CONVENIENCE MARKET
27    2004-BFN-1012710                            CLIFFORD BAUTSCH
28    2006-BFN-1023906                     TOAST! WINE AND SPIRITS
29    2009-BFN-1038755  FAMOUS PHILLY CHEESE STEAK AND BEER GARDEN
...                ...                                         ...
1816  2014-BFN-1072143                        WALMART MARKET #3048
1817  2012-BFN-1060990                         MADDIE'S RESTAURANT
1818     2001-BFN-3855              THE WINE SELLER & SPIRITS TOO!
1819      2001-BFN-128                       SAFEWAY STORE NO 1038
1820  2011-BFN-1052842                              BOTTLE SHOP 33
1821    2002-BFN-49662                            PETE'S CENTRAL I
1822  2012-BFN-1063694                           SMASHBURGER #1261
1823  2003-BFN-1006732                      CHIPOTLE MEXICAN GRILL
1824  2007-BFN-1025226                       NORDSTROM CAFE BISTRO
1825  2004-BFN-1010472                          ELWAY'S RESTAURANT
1826    2002-BFN-55709                       D U CONOCO FOOD STORE
1827  2014-BFN-1074060                        JIM N NICK'S BAR-B-Q
1828  2015-BFN-0002983                            CITY BAKERY CAFE
1829    2001-BFN-46839                                 VILLAGE INN
1830  2004-BFN-1010824                      THE FRESH FISH COMPANY
1831  2011-BFN-1055440                               R&D WINE SHOP
1832  2003-BFN-1004588                          TUK TUK THAI GRILL
1833  2004-BFN-1012429              COLUMBINE STEAK HOUSE & LOUNGE
1834    2002-BFN-39663                              SAIGON TERRACE
1835  2009-BFN-1043554                         HARVEY PARK LIQUORS
1836     2001-BFN-4012                                 STADIUM INN
1837  2012-BFN-1063561                     BROOKDALE MOUNTAIN VIEW
1838  2010-BFN-1049650                                 GAIA BISTRO
1839  2004-BFN-1010636                        HARMAN'S EAT & DRINK
1840    2002-BFN-60748                               ROME'S SALOON
1841    2002-BFN-89824               EL NOA NOA MEXICAN RESTAURANT
1842  2010-BFN-1047439                           SWIFT ON BROADWAY
1843  2007-BFN-1029182                       BRUNOS ITALIAN BISTRO
1844  2008-BFN-1037372                         ALAMEDA LIQUOR MART
1845  2015-BFN-0001425                                 NOVO COFFEE

                          FULL_ADDRESS  \
0       8270 NORTHFIELD BLVDUNIT 1485
1           4955 S ULSTER ST UNIT 102
2                     1580 LAWRENCE ST
3                        12 E 11TH AVE
4                      1450 LARIMER ST
5                         1605 17TH ST
6                     341 E COLFAX AVE
7                          501 16TH ST
8                       423 E 17TH AVE
9                         1514 YORK ST
10                     801 N COLORADO
11                   900 N SANTA FE DR
12                  1437 CALIFORNIA ST
13                   6901 E COLFAX AVE
14                     2000 E 28TH AVE
15                        988 LINCOLN
16                      1920 MARKET ST
17             1575 BOULDER STSUITE A
18              2101 MARKET STSUITE A
19                       1938 BLAKE ST
20                     1222 GLENARM PL
21                       3200 TEJON ST
22           1701 WYNKOOP STSUITE 155
23                        1380 17TH ST
24                      1155 E 9TH AVE
25                     1515 MADISON ST
26                   1906 E COLFAX AVE
27                     3934 W 32ND AVE
28                     3828 W 23RD AVE
29                      2200 ONEIDA ST
...                                ...
1816              3125 S SHERIDAN BLVD
1817                 2423 S DOWNING ST
1818                     600 E 6TH AVE
1819              1653 S COLORADO BLVD
1820                 1080 S GAYLORD ST
1821                    300 S PEARL ST
1822     8100 W CRESTLINE AVE UNIT A2
1823  820 S MONACO STREET PKWYUNIT 1B
1824                    2810 E 1ST AVE
1825              2500 E 1ST AVE B101
1826            2001 S UNIVERSITY BLVD
1827                6325 E HAMPDEN AVE
1828                      726 LINCOLN
1829             4100 E MEXICO UNIT F
1830                7800 E HAMPDEN AVE
1831                 1080 S GAYLORD ST
1832                 8000 E QUINCY AVE
1833                300 N FEDERAL BLVD
1834         1550 S COLORADO BLVD 106
1835               2418 S FEDERAL BLVD
1836                  1703 E EVANS AVE
1837            8101 E MISSISSIPPI AVE
1838                   1551 S PEARL ST
1839                    2900 E 2ND AVE
1840             785 W MISSISSIPPI AVE
1841                   722 SANTA FE DR
1842                     8 S BROADWAY
1843        2223 S MONACO PKWYUNIT E7
1844          9660 E ALAMEDA AVE #103
1845                       1700 E 6TH

                                               LICENSES  \
0                         LIQUOR - HOTEL AND RESTAURANT
1                         LIQUOR - HOTEL AND RESTAURANT
2                         LIQUOR - HOTEL AND RESTAURANT
3                           LIQUOR - TAVERN AND CABARET
4                         LIQUOR - HOTEL AND RESTAURANT
5                                       LIQUOR - TAVERN
6                         LIQUOR - HOTEL AND RESTAURANT
7             LIQUOR - HOTEL AND RESTAURANT AND CABARET
8                                       LIQUOR - TAVERN
9                         LIQUOR - HOTEL AND RESTAURANT
10                                 LIQUOR - BEER & WINE
11                          LIQUOR - ART GALLERY PERMIT
12            LIQUOR - HOTEL AND RESTAURANT AND CABARET
13                        LIQUOR - HOTEL AND RESTAURANT
14                        LIQUOR - HOTEL AND RESTAURANT
15                        LIQUOR - HOTEL AND RESTAURANT
16            LIQUOR - HOTEL AND RESTAURANT AND CABARET
17            LIQUOR - HOTEL AND RESTAURANT AND CABARET
18                                       LIQUOR - STORE
19                                      LIQUOR - TAVERN
20                          LIQUOR - TAVERN AND CABARET
21                        LIQUOR - HOTEL AND RESTAURANT
22                        LIQUOR - HOTEL AND RESTAURANT
23                                 LIQUOR - BEER & WINE
24                                   LIQUOR - 3.2% BEER
25            LIQUOR - HOTEL AND RESTAURANT AND CABARET
26                                   LIQUOR - 3.2% BEER
27            LIQUOR - HOTEL AND RESTAURANT AND CABARET
28                                       LIQUOR - STORE
29                        LIQUOR - HOTEL AND RESTAURANT
...                                                 ...
1816                                 LIQUOR - 3.2% BEER
1817                      LIQUOR - HOTEL AND RESTAURANT
1818                                     LIQUOR - STORE
1819                                 LIQUOR - 3.2% BEER
1820                                    LIQUOR - RETAIL
1821                      LIQUOR - HOTEL AND RESTAURANT
1822                               LIQUOR - BEER & WINE
1823                      LIQUOR - HOTEL AND RESTAURANT
1824                               LIQUOR - BEER & WINE
1825          LIQUOR - HOTEL AND RESTAURANT AND CABARET
1826                                 LIQUOR - 3.2% BEER
1827                      LIQUOR - HOTEL AND RESTAURANT
1828                               LIQUOR - BEER & WINE
1829                      LIQUOR - HOTEL AND RESTAURANT
1830          LIQUOR - HOTEL AND RESTAURANT AND CABARET
1831                                  LIQUOR - TASTINGS
1832                      LIQUOR - HOTEL AND RESTAURANT
1833                      LIQUOR - HOTEL AND RESTAURANT
1834                      LIQUOR - HOTEL AND RESTAURANT
1835                                     LIQUOR - STORE
1836                                    LIQUOR - TAVERN
1837  LIQUOR - HOTEL AND RESTAURANT WITH OPTIONAL PR...
1838                      LIQUOR - HOTEL AND RESTAURANT
1839                      LIQUOR - HOTEL AND RESTAURANT
1840                      LIQUOR - HOTEL AND RESTAURANT
1841          LIQUOR - HOTEL AND RESTAURANT AND CABARET
1842                      LIQUOR - HOTEL AND RESTAURANT
1843                      LIQUOR - HOTEL AND RESTAURANT
1844                                     LIQUOR - STORE
1845                                    LIQUOR - TAVERN

                   LIC_STATUS  ADDRESS_ID                            ADDRESS  \
0     LICENSE ISSUED - ACTIVE    352640.0      8270 E Northfield Blvd # 1485
1     LICENSE ISSUED - ACTIVE    270168.0          4955 S Ulster St Unit 102
2     LICENSE ISSUED - ACTIVE    250358.0                   1580 Lawrence St
3     LICENSE ISSUED - ACTIVE    167440.0                      12 E 11th Ave
4     LICENSE ISSUED - ACTIVE    175442.0                    1450 Larimer St
5     LICENSE ISSUED - ACTIVE    177056.0                       1605 17th St
6     LICENSE ISSUED - ACTIVE    184864.0                   341 E Colfax Ave
7     LICENSE ISSUED - ACTIVE    177388.0                        511 16th St
8     LICENSE ISSUED - ACTIVE    245944.0                     423 E 17th Ave
9     LICENSE ISSUED - ACTIVE    376741.0                     1514 N York St
10    LICENSE ISSUED - ACTIVE     63393.0                801 N Colorado Blvd
11    LICENSE ISSUED - ACTIVE    184736.0                  900 N Santa Fe Dr
12    LICENSE ISSUED - ACTIVE     55265.0                 1437 California St
13    LICENSE ISSUED - ACTIVE     21667.0                  6901 E Colfax Ave
14    LICENSE ISSUED - ACTIVE    350800.0                    2000 E 28th Ave
15    LICENSE ISSUED - ACTIVE    191668.0                   988 N Lincoln St
16    LICENSE ISSUED - ACTIVE    225505.0                     1920 Market St
17    LICENSE ISSUED - ACTIVE         NaN                                NaN
18    LICENSE ISSUED - ACTIVE     43442.0                     2101 Market St
19    LICENSE ISSUED - ACTIVE         NaN                                NaN
20    LICENSE ISSUED - ACTIVE    177137.0                    1222 Glenarm Pl
21    LICENSE ISSUED - ACTIVE    169031.0                    3200 N Tejon St
22    LICENSE ISSUED - ACTIVE    469690.0            1701 Wynkoop St Ste 155
23    LICENSE ISSUED - ACTIVE    376288.0                       1380 17th St
24    LICENSE ISSUED - ACTIVE     65809.0                     1155 E 9th Ave
25    LICENSE ISSUED - ACTIVE     58793.0                  1515 N Madison St
26    LICENSE ISSUED - ACTIVE    177075.0                  1906 E Colfax Ave
27    LICENSE ISSUED - ACTIVE         NaN                                NaN
28    LICENSE ISSUED - ACTIVE    246293.0                    3828 W 23rd Ave
29    LICENSE ISSUED - ACTIVE     19943.0                   2200 N Oneida St
...                       ...         ...                                ...
1816  LICENSE ISSUED - ACTIVE     61204.0               3125 S Sheridan Blvd
1817  LICENSE ISSUED - ACTIVE    352004.0                  2423 S Downing St
1818  LICENSE ISSUED - ACTIVE    246415.0                      600 E 6th Ave
1819  LICENSE ISSUED - ACTIVE    180168.0               1653 S Colorado Blvd
1820  LICENSE ISSUED - ACTIVE     89554.0                  1080 S Gaylord St
1821  LICENSE ISSUED - ACTIVE    261084.0                     300 S Pearl St
1822  LICENSE ISSUED - ACTIVE    364126.0       8100 W Crestline Ave Unit A2
1823  LICENSE ISSUED - ACTIVE    136173.0      820 S Monaco Street Pkwy # 1B
1824  LICENSE ISSUED - ACTIVE     84963.0                     2810 E 1st Ave
1825  LICENSE ISSUED - ACTIVE    264042.0            2500 E 1st Ave Unit 101
1826  LICENSE ISSUED - ACTIVE    111605.0             2001 S University Blvd
1827  LICENSE ISSUED - ACTIVE    385119.0                 6325 E Hampden Ave
1828  LICENSE ISSUED - ACTIVE    180830.0                   726 N Lincoln St
1829  LICENSE ISSUED - ACTIVE    137856.0                  4100 E Mexico Ave
1830  LICENSE ISSUED - ACTIVE         NaN                                NaN
1831  LICENSE ISSUED - ACTIVE     89554.0                  1080 S Gaylord St
1832  LICENSE ISSUED - ACTIVE    221147.0                  8000 E Quincy Ave
1833  LICENSE ISSUED - ACTIVE    246176.0                 300 N Federal Blvd
1834  LICENSE ISSUED - ACTIVE    137853.0               1550 S Colorado Blvd
1835  LICENSE ISSUED - ACTIVE    117902.0                2418 S Federal Blvd
1836  LICENSE ISSUED - ACTIVE    250336.0                   1703 E Evans Ave
1837  LICENSE ISSUED - ACTIVE    134771.0             8101 E Mississippi Ave
1838  LICENSE ISSUED - ACTIVE    221995.0                    1551 S Pearl St
1839  LICENSE ISSUED - ACTIVE    181274.0                     2900 E 2nd Ave
1840  LICENSE ISSUED - ACTIVE     90673.0              785 W Mississippi Ave
1841  LICENSE ISSUED - ACTIVE    182487.0                  722 N Santa Fe Dr
1842  LICENSE ISSUED - ACTIVE    351695.0                       8 S Broadway
1843  LICENSE ISSUED - ACTIVE    270142.0  2223 S Monaco Street Pkwy Unit E7
1844  LICENSE ISSUED - ACTIVE    261283.0        9660 E Alameda Ave Unit 103
1845  LICENSE ISSUED - ACTIVE     81682.0                     1700 E 6th Ave

        CITY STATE  COUNCIL_DIST  POLICE_DIST  CENSUS_TRACT     X_COORD  \
0     Denver    CO             8            5          4105  3170852.00
1     Denver    CO             4            3          6804  3170362.00
2     Denver    CO             9            6          1702  3141544.00
3     Denver    CO            10            6          2701  3144275.00
4     Denver    CO             9            6          1701  3140922.00
5     Denver    CO             9            6          1701  3140957.00
6     Denver    CO            10            6          2601  3145484.00
7     Denver    CO             9            6          1702  3143285.00
8     Denver    CO            10            6          2601  3145772.00
9     Denver    CO             9            2          3701  3151971.00
10    Denver    CO            10            2          3300  3157236.00
11    Denver    CO             3            1          1800  3141092.00
12    Denver    CO             9            6          1702  3142240.00
13    Denver    CO             8            2          4202  3166523.00
14    Denver    CO             9            2          2300  3150917.00
15    Denver    CO            10            6          2702  3144596.00
16    Denver    CO             9            6          1701  3142235.00
17       NaN   NaN             1            1           402  3137486.00
18    Denver    CO             9            6          1600  3142826.00
19       NaN   NaN             9            6          1701  3142106.00
20    Denver    CO             9            6          1702  3142209.00
21    Denver    CO             1            1          1102  3137479.00
22    Denver    CO             9            6          1701  3140691.00
23    Denver    CO             9            6          1701  3141409.00
24    Denver    CO            10            6          2702  3147996.00
25    Denver    CO             9            2          3701  3155562.00
26    Denver    CO            10            6          3202  3150620.00
27       NaN   NaN             1            1           303  3129611.00
28    Denver    CO             1            1           502  3130004.00
29    Denver    CO             8            2          4202  3166517.00
...      ...   ...           ...          ...           ...         ...
1816  Denver    CO             2            4         11902  3125408.00
1817  Denver    CO             6            3          3002  3148173.00
1818  Denver    CO            10            3          2801  3146313.00
1819  Denver    CO             6            3          3902  3156983.00
1820  Denver    CO             6            3          3402  3151551.00
1821  Denver    CO             7            3          2902  3146235.00
1822  Denver    CO             2            4         12010  3115311.63
1823  Denver    CO             5            3          5002  3165333.00
1824  Denver    CO            10            3          3800  3153211.00
1825  Denver    CO            10            3          3800  3152698.00
1826  Denver    CO             6            3          3003  3152055.00
1827  Denver    CO             4            3          6812  3164207.00
1828  Denver    CO            10            6          2702  3144636.00
1829  Denver    CO             6            3          5104  3157840.00
1830     NaN   NaN             4            3          6810  3168969.00
1831  Denver    CO             6            3          3402  3151551.00
1832  Denver    CO             4            3          6809  3169836.00
1833  Denver    CO             7            4          1000  3133662.00
1834  Denver    CO             6            3          5104  3157628.00
1835  Denver    CO             7            4          5400  3133801.00
1836  Denver    CO             6            3          3003  3149930.00
1837  Denver    CO             5            3          7088  3170809.00
1838  Denver    CO             7            3          3001  3146134.00
1839  Denver    CO            10            3          3800  3153807.00
1840  Denver    CO             7            4          1302  3141697.00
1841  Denver    CO             3            1          1800  3141059.00
1842  Denver    CO             7            3          2802  3144279.00
1843  Denver    CO             4            3          6901  3164939.00
1844  Denver    CO             5            3          7089  3175410.00
1845  Denver    CO            10            3          3203  3149924.00

         Y_COORD
0     1711361.00
1     1653802.00
2     1697831.00
3     1692528.00
4     1697675.00
5     1699418.00
6     1694917.00
7     1696363.00
8     1696074.00
9     1695018.00
10    1691006.00
11    1691473.00
12    1696288.00
13    1695124.00
14    1701018.00
15    1691838.00
16    1699538.00
17    1701805.00
18    1700311.00
19    1699804.00
20    1694992.00
21    1702852.00
22    1699758.00
23    1698688.00
24    1691775.00
25    1695080.00
26    1694818.00
27    1702757.00
28    1698799.00
29    1698614.00
...          ...
1816  1663904.00
1817  1670339.00
1818  1689560.00
1819  1675619.00
1820  1679179.00
1821  1684284.00
1822  1650210.39
1823  1681030.00
1824  1686545.00
1825  1686446.00

In [200]:
#Create empty dispensary addresses table for dispensary address data file
%sql create table dispensary_addr(key int(255), address int(12), street_name varchar(255), state varchar(2), zip int(5))

Done.

[]

In [201]:
# Upload Dispensary addresses into the empty dispensary_addr table
conn = sqlite3.connect(":memory:")
df = pd.read_csv('dispaddr.csv.csv')
df.to_sql('dispensary_addr', conn, if_exists='append', index=False)

In [195]:
#Print column names from Dispensary addresses
%sql select * from dispensary_addr

Done.

[]

In [202]:
#Change name of table back to dispensary_addr
dispensary_addr = df

In [204]:
#Print Dispensary Addresses
print (dispensary_addr)

     address  street_name state    zip
0       4012         38th    CO  80212
1       1617        Wazee    CO  80202
2       4625       Colfax    CO  80220
3        505         40th    CO  80216
4       5110         Race    CO  80216
5       2059          9th    CO  80204
6         70     Broadway    CO  80203
7       1269        Elati    CO  80204
8       2748      Alameda    CO  80219
9        445      Federal    CO  80204
10      1301       Marion    CO  80218
11       910         16th    CO  80202
12      3435     Yosemite    CO  80231
13       755      Federal    CO  80219
14      4571          Ivy    CO  80216
15      3555     Yosemite    CO  80237
16      1755     Broadway    CO  80210
17      2119      Larimer    CO  80205
18      4103     Sheridan    CO  80212
19       432     Broadway    CO  80209
20      5353       Joliet    CO  80239
21     12005         37th    CO  80239
22      1909     Broadway    CO  80210
23      3054      Larimer    CO  80205
24      4735         38th    CO  80212
25      4801       Colfax    CO  80204
26       930        Byers    CO  80223
27       310   Saint Paul    CO  80206
28      4902        Smith    CO  80216
29      3121       Colfax    CO  80206
..       ...          ...   ...    ...
142     4820     Morrison    CO  80219
143     2117      Larimer    CO  80205
144     5100         38th    CO  80223
145      330       Colfax    CO  80203
146     9206      Hampden    CO  80231
147        1     Broadway    CO  80203
148     2707         38th    CO  80211
149     4400        Grape    CO  80216
150     2601      Alameda    CO  80219
151     6681      Federal    CO  80221
152      985        Logan    CO  80209
153     3995         50th    CO  80216
154     7200        Smith    CO  80207
155     6858        Evans    CO  80224
156     2426      Federal    CO  80219
157     5050         York    CO  80216
158     3814       Walnut    CO  80216
159      755        Jason    CO  80223
160      800         Park    CO  80205
161     2383      Downing    CO  80210
162     2675         38th    CO  80211
163     4501        Adams    CO  80216
164     2001     Broadway    CO  80210
165      183      Alameda    CO  80223
166     2215  Mississippi    CO  80210
167     2394     Broadway    CO  80210
168     3480       Galena    CO  80231
169     5926       Colfax    CO  80220
170     6853    Leetsdale    CO  80224
171      777       Canosa    CO  80204

[172 rows x 4 columns]

In [232]:
#Create empty copshops table for copshops data file
%sql create table copshops(gid NULL,name varchar(100), address varchar(100), X float(50), Y float(50), the_geom geometry, primary key(gid))

Done.

[]

In [233]:
#Populate copshops table with copshops file data
conn = sqlite3.connect(":memory:")
copshops = pd.read_csv('copshops.csv.csv')
copshops.to_sql('copshops', conn, if_exists='append', index=False)
print (copshops)

                          NAME               ADDRESS          X           Y
0  COMMUNITY HUB at NORTHFIELD  8230 Northfield Blvd  39.782835 -104.892380
1        FEDERAL BLVD COP SHOP   2635 N Federal Blvd  39.755730 -105.025276
2         WEST COLFAX COP SHOP     5094 W Colfax Ave  39.740450 -105.052115
3         WEST DENVER COP SHOP      4200 Morrison Rd  39.704714 -105.042060
4         BEAR VALLEY COP SHOP  3100 S Sheridan Blvd  39.656309 -105.048249
5           LEETSDALE COP SHOP     7150 Leetsdale Rd  39.697819 -104.905316

In [234]:
%sql select * from copshops

Done.

[]

In [235]:
%sql view copshops

(sqlite3.OperationalError) near "view": syntax error [SQL: 'view copshops']

In [14]:
%sql update table copshops ST_AddGeometryColumn( 'copshops', 'geom', 4326, 'POINT', 2 );

(psycopg2.ProgrammingError) syntax error at or near "table"
LINE 1: update table copshops ST_AddGeometryColumn( 'copshops', 'geo...
               ^
 [SQL: "update table copshops ST_AddGeometryColumn( 'copshops', 'geom', 4326, 'POINT', 2 );"]

In [3]:
%sql select * from copshops

0 rows affected.

[]

In [4]:
%sql insert into copshops values('Community Hub at Northfield', '8230 Northfield Blvd', 39.782835,-104.89238  )

1 rows affected.

[]

In [5]:
%sql select * from copshops

1 rows affected.

[(u'Community Hub at Northfield', u'8230 Northfield Blvd', 39.782835, -104.89238)]

In [10]:
%sql insert into copshops values('FEDERAL BLVD COP SHOP','2635 N Federal Blvd',39.75573,-105.025276) 
%sql insert into copshops values('WEST COLFAX COP SHOP','5094 W Colfax Ave',39.74045,-105.052115)
%sql insert into copshops values('WEST DENVER COP SHOP','4200 Morrison Rd',39.704714,-105.04206)
%sql insert into copshops values('BEAR VALLEY COP SHOP','3100 S Sheridan Blvd',39.656309,-105.048249)
%sql insert into copshops values('LEETSDALE COP SHOP','7150 Leetsdale Rd',39.697819,-104.905316)

1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [11]:
%sql select * from copshops

6 rows affected.

[(u'Community Hub at Northfield', u'8230 Northfield Blvd', 39.782835, -104.89238),
 (u'FEDERAL BLVD COP SHOP', u'2635 N Federal Blvd', 39.75573, -105.025276),
 (u'WEST COLFAX COP SHOP', u'5094 W Colfax Ave', 39.74045, -105.052115),
 (u'WEST DENVER COP SHOP', u'4200 Morrison Rd', 39.704714, -105.04206),
 (u'BEAR VALLEY COP SHOP', u'3100 S Sheridan Blvd', 39.656309, -105.048249),
 (u'LEETSDALE COP SHOP', u'7150 Leetsdale Rd', 39.697819, -104.905316)]

In [12]:
%sql select AddGeometryColumn('copshops', 'geometry', 4326, 'POINT', 2)

1 rows affected.

[(u'public.copshops.geometry SRID:4326 TYPE:POINT DIMS:2 ',)]

In [13]:
%sql select column_name, data_type from INFORMATION_SCHEMA.COLUMNS where table_name = 'copshops';

5 rows affected.

[(u'name', u'character varying'),
 (u'address', u'character varying'),
 (u'x', u'double precision'),
 (u'y', u'double precision'),
 (u'geometry', u'USER-DEFINED')]

In [21]:
%sql insert into copshops (geometry)(%sql ST_GeomFromText('POINT(39.782835 -104.89238)', 4326)

(psycopg2.ProgrammingError) syntax error at or near "%"
LINE 1: insert into copshops (geometry)(%sql ST_GeomFromText('POINT(...
                                        ^
 [SQL: "insert into copshops (geometry)(%%sql ST_GeomFromText('POINT(39.782835 -104.89238)', 4326)"]

In [3]:
%sql update copshops set geometry = ST_GeomFromText('POINT(-104.89238 39.782835)', 4326) where (name = 'Community Hub at Northfield')

1 rows affected.

[]

In [4]:
%sql select geometry from copshops

6 rows affected.

[(None,),
 (None,),
 (None,),
 (None,),
 (None,),
 ('0101000020E6100000B0E600C11C395AC00395F1EF33E44340',)]

In [5]:
%sql select * from copshops

6 rows affected.

[(u'FEDERAL BLVD COP SHOP', u'2635 N Federal Blvd', 39.75573, -105.025276, None),
 (u'WEST COLFAX COP SHOP', u'5094 W Colfax Ave', 39.74045, -105.052115, None),
 (u'WEST DENVER COP SHOP', u'4200 Morrison Rd', 39.704714, -105.04206, None),
 (u'BEAR VALLEY COP SHOP', u'3100 S Sheridan Blvd', 39.656309, -105.048249, None),
 (u'LEETSDALE COP SHOP', u'7150 Leetsdale Rd', 39.697819, -104.905316, None),
 (u'Community Hub at Northfield', u'8230 Northfield Blvd', 39.782835, -104.89238, '0101000020E6100000B0E600C11C395AC00395F1EF33E44340')]

In [6]:
%sql update copshops set geometry = ST_GeomFromText('POINT(-104.905316 39.697819)', 4326) where (name = 'LEETSDALE COP SHOP')

1 rows affected.

[]

In [7]:
%sql update copshops set geometry = ST_GeomFromText('POINT(-105.048249 39.656309)', 4326) where (name = 'BEAR VALLEY COP SHOP')

1 rows affected.

[]

In [8]:
%sql update copshops set geometry = ST_GeomFromText('POINT(-105.04206 39.704714)', 4326) where (name = 'WEST DENVER COP SHOP')

1 rows affected.

[]

In [9]:
%sql update copshops set geometry = ST_GeomFromText('POINT(-105.052115 39.74045)', 4326) where (name = 'WEST COLFAX COP SHOP')

1 rows affected.

[]

In [10]:
%sql update copshops set geometry = ST_GeomFromText('POINT(-105.025276 39.75573)', 4326) where (name = 'FEDERAL BLVD COP SHOP')

1 rows affected.

[]

In [4]:
%sql alter table copshops set with oids;

Done.

[]

In [5]:
%sql select * from copshops

6 rows affected.

[(u'Community Hub at Northfield', u'8230 Northfield Blvd', 39.782835, -104.89238, '0101000020E6100000B0E600C11C395AC00395F1EF33E44340'),
 (u'LEETSDALE COP SHOP', u'7150 Leetsdale Rd', 39.697819, -104.905316, '0101000020E6100000EA2285B2F0395AC083C30B2252D94340'),
 (u'BEAR VALLEY COP SHOP', u'3100 S Sheridan Blvd', 39.656309, -105.048249, '0101000020E61000002444F98216435AC00589EDEE01D44340'),
 (u'WEST DENVER COP SHOP', u'4200 Morrison Rd', 39.704714, -105.04206, '0101000020E6100000111E6D1CB1425AC045847F1134DA4340'),
 (u'WEST COLFAX COP SHOP', u'5094 W Colfax Ave', 39.74045, -105.052115, '0101000020E6100000632827DA55435AC05F29CB10C7DE4340'),
 (u'FEDERAL BLVD COP SHOP', u'2635 N Federal Blvd', 39.75573, -105.025276, '0101000020E6100000EB573A1F9E415AC0944DB9C2BBE04340')]

In [6]:
%sql select column_name, data_type from INFORMATION_SCHEMA.COLUMNS where table_name = 'copshops';

5 rows affected.

[(u'name', u'character varying'),
 (u'address', u'character varying'),
 (u'x', u'double precision'),
 (u'y', u'double precision'),
 (u'geometry', u'USER-DEFINED')]

In [7]:
%sql ALTER TABLE copshops ADD PRIMARY KEY (copshps_id);

(psycopg2.ProgrammingError) column "copshps_id" named in key does not exist
 [SQL: 'ALTER TABLE copshops ADD PRIMARY KEY (copshps_id);']

In [8]:
%sql ALTER TABLE copshops ADD PRIMARY KEY (name);

Done.

[]